:root{
    --background-image: url(/assets/background1.jpg);
    --text-color: white;
}

body,
html{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
}

.bacground{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    img{
        position: relative;
    }
}

nav{
    z-index: 9999;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 50px;
    background-color: rgba(#000000, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-inline: 15px;

    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: rgb(65, 117, 150);

        img{
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
    }

    .name-change{
        display: flex;
        flex-direction: column;
        align-items: center;

        .group-name{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 20px;
            border: none;
            outline: none;
            background: none;
            color: var(--text-color);

            h1{
                font-size: 20px;
                line-height: 20px;
                margin-right: 10px;
            }
        }

        .group-name:hover{
            cursor: pointer;
            text-shadow: 0px 0px 1.4px var(--text-color);
        }

        .change-form{
            z-index: 20;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 99%;
            width: 155px;
            height: 0px;
            overflow: hidden;
            background-color: rgba(#000000, 0.6);
            border-radius: 0px 0px 10px 10px;
            transition: 1s height;

            p{
                color: white;
                text-align: center;
                font-size: 16px;
                line-height: 16px;
                margin-block: 10px;
            }

            input{
                width: 90%;
                box-sizing: border-box;
                padding-inline: 10px;
                border: none;
                outline: none;
                margin-bottom: 10px;
                border-radius: 0px 0px 10px 10px;
            }
        }
        .expanded{
            height: 63px;
        }
    }

    .settings{
        border: none;
        outline: none;
        background: none;
        color: white;
        font-size: 20px;
    }
}

.workspace{
    z-index: 10;
    width: 100vw;
    height: calc(100vh - 50px);
    padding-top: 130px;
    padding-inline: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    .add-new-list{
        z-index: 10;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: white;
        background: rgba(#000000, 0.6);
        width: 260px;
        height: 40px;
    }
}


